*.weights
*.jpg
Hee/app/build/outputs/apk/debug/app-debug.apk
Hee/app/build/intermediates/external_libs_dex/debug/mergeExtDexDebug/classes.dex
Hee/app/build/intermediates/dex/debug/mergeDexDebug/classes.dex
